body {
    text-align: center;
    font-family: Arial;
}

.controls {
    margin-top: 50px;
}

button {
    width: 80px;
    height: 80px;
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}